/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T           &kp Y &kp U &kp I &kp O &kp P     &kp LBKT 
                &kp A &kp S &kp D &kp F &kp G           &kp H &kp J &kp K &kp L &kp SEMI  &kp SQT
                            &kp Q &kp C &kp V           &kp N &kp M &kp Q
            >;
        };
    };
};